@import url('//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')


************************** Import Fonts and Icons *************************/

/* Bree Serif - From Google Fonts */
@import url("http://fonts.googleapis.com/css?family=Bree+Serif");

/* Pacifico - From Google Fonts */
@import url("http://fonts.googleapis.com/css?family=Pacifico");

/* Monserrat - From Google Fonts */
@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");


/************************* General Styles for Tags *************************/
a {
  color: #281c4c; 
}
a:hover {
  text-decoration: none;
  color: #4ec7b8;
}
a:active,a:focus {
  outline: none;
}
article {
  padding: 60px 0;
}
address {
  color: #fff;
  line-height: 2em;
  padding: 0 0 10px 0;
}
address a {
  color: #4ec7b8;
}
address a:hover {
  color: #4ec7b8;
}
blockquote {
  background: #e1e1e1;
  border-left: 3px double #281c4c;
  color: #281c4c;
  font-size: 0.9em;
  font-style: italic;
  font-weight: 700;
  line-height: 1.8em;
  padding: 40px 60px;
  position: relative;
}
blockquote.action {
  padding-right: 280px;
}
blockquote .btn {
  left: 100%;
  margin: 0 0 0 -260px;
  min-height: 38px;
  position: absolute;
  top: 50%;
  white-space: initial;
  width: 160px;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  padding: 70px 0 0 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #281c4c;
  font-family: 'Bree Serif', sans-serif;
  margin-top: 0;
  letter-spacing: 1px;
}
h2 {
  font-size: 1.7em;
  line-height: 0.7em;
  margin: 0 0 20px 0;
  padding: 0;
}
h3 {
  font-size: 1.3em;
  padding: 0;
}
h4 {
  text-transform: uppercase;
}
img {
 /* width: 100%; */
}
img.pull-right {
  margin: 0 0 1.5em 1.5em;
}
img.pull-left {
  margin: 0 1.5em 1.5em 0;
}
p {
  color: #9499af;
  font-size: 0.9em;
  line-height: 1.8em;
  font-family: 'Montserrat', sans-serif;
}
ul {
  padding: 0;
}
strong.highlight {
  background: #722881;
  padding: 0 5px;
  color: #fff;
}


.alignright {
  float: right !important;
}
.alignleft {
  float: left !important;
}




